.tab-controls {
    display: inline-flex;
    border-radius: 44px;
    padding: 6px;
    align-items: center;
    background: #eee;
}

.tab-controls__btn {
    border-radius: 32px;
    padding: 4px 20px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.85;
    color: rgb(31, 31, 31 , 0.8);

    transition: background-color 0.3s ease-in;

    &:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }

    &--active {
        background-color: #fff;

        &:hover {
            background-color: #fff;
        }
    }

    @include mobile () {
        font-size: 16px;
        max-width: 60px;
    }
}